.u-section-1 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-1 .u-shape-1 {
  height: 1355px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: -1327px 142px 0 90px;
}

.u-section-1 .u-list-1 {
  width: 1126px;
  margin: 46px auto 3px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 1149px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-icon-5 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-icon-6 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-icon-7 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-icon-8 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-icon-9 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-icon-10 {
  height: 116px;
  width: 116px;
  background-image: none;
  color: rgb(94, 53, 177) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-icon-11 {
  height: 116px;
  width: 116px;
  background-image: none;
  color: rgb(94, 53, 177) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-icon-12 {
  height: 116px;
  width: 116px;
  background-image: none;
  color: rgb(94, 53, 177) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-size: 1.875rem;
  margin: 38px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 959px;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(94, 53, 177) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(94, 53, 177) !important;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(94, 53, 177) !important;
  }

  .u-section-1 .u-icon-8 {
    color: rgb(94, 53, 177) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 2938px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}