.u-section-1 .u-sheet-1 {
  min-height: 1430px;
}

.u-section-1 .u-shape-1 {
  height: 1355px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: -1327px 142px 0 90px;
}

.u-section-1 .u-list-1 {
  width: 1126px;
  margin: 40px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 1107px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-icon-2 {
  background-image: none;
  color: rgb(66, 84, 101) !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-5 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-7 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-icon-9 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-icon-11 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-icon-13 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-icon-15 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-9 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-icon-17 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-10 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-icon-19 {
  height: 116px;
  width: 116px;
  background-image: none;
  color: rgb(94, 53, 177) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-text-11 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-icon-21 {
  height: 116px;
  width: 116px;
  background-image: none;
  color: rgb(94, 53, 177) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-text-12 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-icon-23 {
  height: 116px;
  width: 116px;
  background-image: none;
  color: rgb(94, 53, 177) !important;
  margin: 31px auto 0;
}

.u-section-1 .u-text-13 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  width: 204px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 7px auto 0;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 924px;
  }

  .u-section-1 .u-icon-9 {
    color: rgb(94, 53, 177) !important;
  }

  .u-section-1 .u-icon-11 {
    color: rgb(94, 53, 177) !important;
  }

  .u-section-1 .u-icon-13 {
    color: rgb(94, 53, 177) !important;
  }

  .u-section-1 .u-icon-15 {
    color: rgb(94, 53, 177) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 2831px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}