.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-shape-1 {
  width: 422px;
  height: 422px;
  margin: 96px auto 0 148px;
}

.u-section-1 .u-shape-2 {
  width: 402px;
  height: 402px;
  margin: -460px auto 0 16px;
}

.u-section-1 .u-image-1 {
  width: 499px;
  height: 331px;
  margin: -352px auto 0 47px;
}

.u-section-1 .u-shape-3 {
  width: 433px;
  height: 433px;
  margin: -342px 30px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 412px;
  height: 412px;
  margin: -422px 43px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 293px;
  margin: -366px 53px 0 696px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -460px 340px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 161px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -571px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -312px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -367px;
    margin-right: 0;
    margin-left: 549px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 329px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: 86px;
    margin-left: 118px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -460px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -35px;
    margin-left: 4px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: -378px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 34px;
    height: 22px;
    margin-top: -29px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-top: -237px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    height: 340px;
    margin-top: -329px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -295px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 101px;
  }
}